.dashboard {

  &__container {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(6, minmax(1fr, 500px));
    grid-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
  }

  &__container--mobile {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(1fr, 300px));
    grid-gap: 10px;
    padding: 10px;
  }

  &__statusinfo {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-gap: 10px;
  }

  &__graphcontainer--temp {
    height: 500px;
  }

  &__graphcontainer--soil {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    height: 500px;
  }

  &__soilcalibration {
    grid-column: span 2;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__soilcalibration button {
    background-color: #47c8d3;
    color: white;
    padding: 10px;
    font-weight: bold;
  }

  &__graphcontainer--mobile {
    height: 350px;
  }

  &__graph {
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
  }

  &__headingcontainer {
    background-color: white;
    border-radius: 5px;
    //padding: 10px;
    border: 1px solid #e3e3e3;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
  }

  &__heading {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e3e3e3;
  }

  &__heading h3 {
    font-size: 1.2em;
  }

  &__heading p {
    padding: 0;
  }

  &__colheading {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__colheading h3 {
    font-size: 1.2em;
  }

  &__energybolt {
    color: #ead325;
    text-shadow: 0px 0px 1px rgba(150, 150, 150, 1);
  }

  &__thermometer {
    color: red;
    text-shadow: 0px 0px 1px rgba(150, 150, 150, 1);
  }

  &__waterdrop {
    color: blue;
    text-shadow: 0px 0px 1px rgba(150, 150, 150, 1);
  }

  &__soilwater {
    color: #47c8d3;
    text-shadow: 0px 0px 1px rgba(150, 150, 150, 1);
  }

  &__soilsensor {
    color: black;
  }

  &__soilbutton {
    margin-left: 10px;
  }

  &__soilbutton:hover {
    cursor: pointer;
    color: #999999;
  }

  &__devicecontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }

  &__device--active {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #e3e3e3;
    animation: device--active 1.5s infinite;
  }

  &__device--inactive {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
  }

  @keyframes device--error {
    0% { background-color: #e3e3e3; }
    50% { background-color: #ff4d4d; }
    100% { background-color: #e3e3e3; }
  }

  @keyframes device--active {
    0% { background-color: #00e6b8; }
    50% { background-color: #00cc66; }
    100% { background-color: #00e6b8; }
  }

  &__images {
    padding: 10px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    background-color: #fff;
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 0.5fr;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
  }

  &__images--viewmore {
    padding: 10px;
    text-align: center;
    align-self: center;
  }

  &__images--viewmore--mobile {
    padding: 10px;
    grid-column: span 2;
    width: 100%;
    justify-items: start;
  }

  &__images--mobile {
    padding: 10px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
  }
}
