.dashboard {

  &__status {
    display: flex;
    width: 100%;
  }

  &__status--mobile {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  &__statusinfo {
    padding: 10px;
  }

  &__graphcontainer {
    flex: 3;
    padding: 10px;
    box-sizing: border-box;
  }

  &__graphcontainer--mobile {
    height: 450px;
    padding: 10px;
    box-sizing: border-box;
  }

  &__graph {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
  }

  &__headingcontainer {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #e3e3e3;
    flex: 1;
  }

  &__devicecontainer {
    margin-bottom: 10px;
  }

  &__heading {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__energybolt {
    color: #ead325;
    text-shadow: 0px 0px 1px rgba(150, 150, 150, 1);
  }

  &__thermometer {
    color: red;
    text-shadow: 0px 0px 1px rgba(150, 150, 150, 1);
  }

  &__waterdrop {
    color: blue;
    text-shadow: 0px 0px 1px rgba(150, 150, 150, 1);
  }

  &__device {
    display: flex;
  }

  &__device--active {
    flex: 1;
    text-align: center;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #e3e3e3;
    animation: device--active 1.5s infinite;
  }

  &__device--inactive {
    flex: 1;
    text-align: center;
    //color: black;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
  }

  @keyframes device--error {
    0% { background-color: #e3e3e3; }
    50% { background-color: #ff4d4d; }
    100% { background-color: #e3e3e3; }
  }

  @keyframes device--active {
    0% { background-color: #00e6b8; }
    50% { background-color: #00cc66; }
    100% { background-color: #00e6b8; }
  }

  &__images {
    margin: 10px;
    padding: 5px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    overflow-x: auto;
  }
}
